{% extends 'base.html' %}

{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="align-items-center">
    <div class="container position-relative">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          <h1>List of abbreviations from Word</h1>
          <h2>Please, upload a .docx file and .json file with gloss mapping if you have one.</h2>
        </div>
      </div>
      <form action="/list_of_abbr" method="post" name="f" enctype="multipart/form-data">
        <div class="text-center" style="margin-top: 30px;">
          <div class="file-input">
            <input type="file" name="textupload" id="file" accept=".docx" style="opacity: 0%;display: inline-block; height: 45px;" required>
            <label for="file" style="margin-top: -35pt;">Select .docx file</label>
            <p class="file-name" style="margin-top: 10px;"></p>
        </div>
        </div>
        <div class="text-center" style="margin-top: 30px;">
          <div class="file-input">
            <input type="file" name="jsonupload" id="filejs" accept=".json" style="opacity: 0%;display: inline-block; height: 45px;" required>
            <label for="filejs" style="margin-top: -35pt;">Select .json file</label>
            <p class="file-name-j" style="margin-top: 10px;"></p>
        </div>
        </div>
        <div class="text-center" style="margin-top: 30px;">
          <div class="file-submit">
            <input type="submit" id="file-submit" class="file">
            <label for="file-submit">Upload File</label>
          </div>
        </div>
      </form>
{% endblock %}